@model LojaOnline.Comum.Categoria
@{
    ViewBag.Title = "Categoria";
}

<h2>Categoria cadastrada!</h2>
@Html.DisplayForModel()
<br />
@Html.ActionLink("Listar Categorias", "Listar", "Categoria", new { Area = "" }, new { })

