@model LojaOnline.Comum.Produto
@{
    ViewBag.Title = "Salvar";
}
<h2>Produto cadastrado!</h2>
@Html.DisplayForModel()
<br />
@Html.ActionLink("Listar Categorias", "Listar", "Categoria", new { Area = "" }, new { })
