@model LojaOnline.MVC.Models.Contato
@{
    ViewBag.Title = "Index";
}
<h2>Contato</h2>
@using (Html.BeginForm("Contato", "Home"))
{
    @Html.EditorForModel()
    <input type="submit" value="Enviar" />
}